# Supabase -> Project Settings -> Database -> Connection string -> Session pooler
DATABASE_URL=your-database-url

# Generate with: openssl rand -hex 32
JWT_SECRET_KEY=your-jwt-secrect-key

# Supabase -> Project Settings -> API
SUPABASE_URL=1234567890
SUPABASE_SERVICE_KEY=here-your-supabase-service-key
SUPABASE_BUCKET=documents

# Your deployed frontend URL (use http://localhost:3000 for local dev)
FRONTEND_ORIGIN=http://localhost:3000

GROQ_API_KEY=your-groq-api-key
